@import '../../../../styles/variables.scss';

.subscritends_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 50px;
}

.subscritends-container__list {
    padding: 0 50px 0 50px;
    height: calc(100vh - 350px);
}

.list__subscritend {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid $primary-color;
}

.subscritend {
    display: flex;
    flex-direction: column;
    width: 90%;
    list-style: none;
    padding: 1rem 1rem 1rem 0;
    color: $primary-color;
    font-weight: 600;
}

.subscritend--secondary {
    text-align: end;
    font-size: $medium-text;
}

.subscritend__name {
    
    font-size: $big-text;
}

.subscritend__amount {
    color: $secondary-color;
    font-size: $medium-text;
    font-weight: 700;
}